@font-face {
  font-family: "Dreadnoughtus";
  src: url(./../../fonts/DreadnoughtusMedium.woff); }
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url(./../../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url(./../../fonts/OpenSans-SemiBold.ttf); }
.none {
  display: none !important; }

body, .header__link a, .hero__more, .card__text, .project__desc {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff; }

.row__title {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
  text-transform: uppercase; }

.circle__text span, .project__title, .project__banner {
  font-family: "Dreadnoughtus", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 57px; }

body {
  background-color: #171717; }

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto; }

.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: #3935fe;
  border-radius: 50%;
  transform: translate(-50%, -50%) translate3d(var(--move-x), var(--move-y), 0);
  background-size: cover;
  transition: all 2s cubic-bezier(0.05, 0.5, 0, 1);
  z-index: -1;
  mix-blend-mode: difference; }

.cursor.visible {
  width: 80px;
  height: 80px; }

.cursor div {
  width: 40%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.05, 0.5, 0, 1); }

.development {
  background-image: url(./../../img/icons/webDevIcon.svg); }

.design {
  background-image: url(./../../img/icons/designIcon.svg); }

.animation {
  background-image: url(./../../img/icons/animationIcon.svg); }

.home {
  background-image: url(./../../img/icons/homeIcon.svg); }

.contact {
  background-image: url(./../../img/icons/contactIcon.svg); }

* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:focus,
:active {
  /*outline: none;*/ }

a:focus,
a:active {
  /* outline: none;*/ }

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit; }

ul,
ul li {
  list-style: none; }

img {
  vertical-align: top; }

img,
svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus,
input:active,
button:focus,
button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

.header {
  min-height: 100vh;
  padding-bottom: 10vh; }

.header__nav {
  padding-top: 50px; }

.header__links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 75px; }

.hero__greeting {
  bottom: 0;
  height: 80vh;
  position: relative;
  overflow: hidden; }

.hero__wave-1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  opacity: 0.5;
  will-change: transform; }

.hero__wave-2 {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  will-change: transform; }

.parallax-wave {
  max-width: none;
  transform: translateY(400px); }

.hero__wave-1 svg {
  max-width: none; }

.hero__wave-1 svg path,
.hero__wave-2 svg path {
  fill: #3935fe; }

.hero__logo {
  position: absolute;
  width: 500px;
  left: 50%;
  transform: translate3d(-50%, 100%, 0);
  opacity: 0;
  will-change: transform;
  top: 40%;
  z-index: 2;
  transition: transform 0.8s cubic-bezier(0, 0.52, 0.43, 0.99), opacity 0.8s cubic-bezier(0, 0.52, 0.43, 0.99); }

.hero__logo.animated {
  transform: translate3d(-50%, 0, 0);
  opacity: 1; }

.hero__logo svg path {
  fill: #fff; }

.hero__more {
  position: absolute;
  padding: 14px 105px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717;
  box-shadow: -1px -1px 2px rgba(32, 32, 32, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25), -5px -5px 7px rgba(32, 32, 32, 0.25), 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 5;
  transition: background-color 0.2s cubic-bezier(0, 0.52, 0.43, 0.99), box-shadow 0.2s cubic-bezier(0, 0.52, 0.43, 0.99); }

.hero__more:hover {
  background: #222; }

.hero__more:active {
  box-shadow: 0 0 0 rgba(32, 32, 32, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(32, 32, 32, 0), 0 0 0 rgba(0, 0, 0, 0), inset -1px -1px 2px rgba(32, 32, 32, 0.5), inset -5px -5px 7px rgba(32, 32, 32, 0.5), inset 2px 2px 1px rgba(0, 0, 0, 0.25), inset 5px 5px 7px rgba(0, 0, 0, 0.25); }

.about {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -1px 2px rgba(32, 32, 32, 0.5), inset 0px -5px 7px rgba(32, 32, 32, 0.5), inset 0px 2px 1px rgba(0, 0, 0, 0.25), inset 0px 5px 7px rgba(0, 0, 0, 0.25);
  perspective: 1000px; }

.card {
  position: relative;
  width: 1000px;
  height: 500px;
  transform-style: preserve-3d; }

.card__text {
  position: absolute;
  max-width: 424px;
  top: 50px;
  left: 50px;
  z-index: 2;
  transform: translateZ(60px); }

.card__logo {
  position: absolute;
  z-index: 2;
  width: 80px;
  bottom: 50px;
  left: 50px;
  transform: translateZ(30px); }

.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  z-index: 1; }

.card__photo {
  position: absolute;
  z-index: 1;
  right: -100px;
  bottom: -10px; }

.card-l {
  position: absolute;
  inset: 0;
  background-color: #3935fe;
  border-radius: 16px; }
  .card-l:nth-child(4) {
    z-index: 0; }
  .card-l:nth-child(5) {
    opacity: 0.5;
    scale: 1.01;
    transform: translateZ(-40px);
    z-index: -1;
    filter: blur(1px); }
  .card-l:nth-child(6) {
    opacity: 0.25;
    transform: translateZ(-70px);
    scale: 1.02;
    z-index: -2;
    filter: blur(2px); }

.circle {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: -2; }
  .circle:nth-child(1) {
    left: 10%;
    top: 10%;
    animation: rotation 15s infinite forwards linear; }
  .circle:nth-child(2) {
    right: 10%;
    bottom: 10%;
    animation: rotation 30s infinite forwards linear; }

.circle__text span {
  position: absolute;
  left: 50%;
  color: #222;
  transform-origin: 0 250px; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.services {
  position: relative;
  padding: 30px;
  min-height: 100vh;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.services__row {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  column-gap: 30px;
  padding: 55px 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  align-items: center;
  overflow: hidden;
  transition: all 0.5 ease; }

.services__row:nth-child(1) {
  border-width: 1px 0 1px 0; }

.row__tools {
  justify-self: left;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  grid-auto-flow: column;
  grid-gap: 28px;
  transform: translate3d(-100px, 0, 0);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0, 0.52, 0.43, 0.99), opacity 0.8s cubic-bezier(0, 0.52, 0.43, 0.99);
  transition-delay: 0.3s; }

.row__tool {
  max-width: 100%;
  justify-self: center; }

.row__title {
  justify-self: center;
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0, 0.52, 0.43, 0.99), opacity 0.8s cubic-bezier(0, 0.52, 0.43, 0.99); }

.row__desc {
  text-align: right;
  transform: translate3d(100px, 0, 0);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0, 0.52, 0.43, 0.99), opacity 0.8s cubic-bezier(0, 0.52, 0.43, 0.99);
  transition-delay: 0.3s; }

.services__row:nth-child(1) .row__title,
.services__row:nth-child(1) .row__desc,
.services__row:nth-child(1) .row__tools {
  transition-delay: 0.1s; }

.services__row:nth-child(2) .row__title,
.services__row:nth-child(2) .row__desc,
.services__row:nth-child(2) .row__tools {
  transition-delay: 0.2s; }

.services__row:nth-child(3) .row__title,
.services__row:nth-child(3) .row__desc,
.services__row:nth-child(3) .row__tools {
  transition-delay: 0.3s; }

.row__desc.animated,
.row__tools.animated,
.row__title.animated {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.services__wrapper:hover {
  cursor: none; }

.services__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: end;
  overflow: visible; }

.services__background svg {
  object-fit: cover;
  bottom: 0; }

.projects {
  height: 100vh; }

.projects__item {
  height: 90%;
  display: grid;
  grid-template: 2fr 2fr 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  border: 1px solid #222; }

.projects__item > * {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.projects__img {
  width: 100%;
  overflow: hidden;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; }

.project__img {
  overflow: hidden;
  height: 100%; }

.project-img__bg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.project__title {
  border-bottom: 1px solid #222;
  text-align: center; }

.project__desc {
  padding: 10%;
  text-align: center;
  border-bottom: 1px solid #222; }

.project__links {
  column-gap: 32px; }

.project__links img {
  transition: all 0.2s cubic-bezier(0, 0.52, 0.43, 0.99); }

.project__links img:hover {
  opacity: 0.8; }

.project__btn {
  border-right: 1px solid #222; }

.project__btn svg {
  max-width: 70px; }

.project__btn svg path {
  fill: transparent;
  transition: all 0.2s cubic-bezier(0, 0.52, 0.43, 0.99); }

.project__btn:hover svg path {
  fill: #fff; }

.project__btn:active svg {
  scale: 0.97; }

.project__banner {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #222;
  border-top: 1px solid #222; }

/*# sourceMappingURL=main.css.map */
