@import url(./../node_modules/swiper/swiper-bundle.css);
@font-face {
  font-family: "Dreadnoughtus";
  src: url(./../../fonts/DreadnoughtusMedium.woff); }
@font-face {
  font-family: "BwDarius";
  src: url(./../../fonts/BwDarius-Bold.ttf); }
@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url(./../../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  src: url(./../../fonts/OpenSans-SemiBold.ttf); }
.none {
  display: none !important; }

body, .header__link a, .hero__more, .card__text, .service__desc, .projects__list h5, .form__input, .form__name, .form__send {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff; }

.service__title, .contacts__info {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
  text-transform: uppercase; }

.circle__text span, .slide__title, .feedback__contacts::after {
  font-family: "Dreadnoughtus", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 57px; }

body {
  background-color: #171717; }

.scroll-wrapper {
  width: 100%;
  height: 100%;
  display: flex; }
  .scroll-wrapper section {
    flex: none;
    width: 100%;
    height: 100vh; }

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto; }

.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: #3935fe;
  border-radius: 50%;
  transform: translate(-50%, -50%) translate3d(var(--move-x), var(--move-y), 0);
  background-size: cover;
  transition: all 2s cubic-bezier(0.05, 0.5, 0, 1);
  z-index: -1;
  mix-blend-mode: difference; }

.cursor.visible {
  width: 80px;
  height: 80px; }

.cursor div {
  width: 40%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.05, 0.5, 0, 1); }

.cursor div.development {
  background-image: url(./../../img/icons/webDevIcon.svg); }
.cursor div.design {
  background-image: url(./../../img/icons/designIcon.svg); }
.cursor div.animation {
  background-image: url(./../../img/icons/animationIcon.svg); }
.cursor div.home {
  background-image: url(./../../img/icons/homeIcon.svg); }
.cursor div.contact {
  background-image: url(./../../img/icons/contactIcon.svg); }

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto; }

  body, .header__link a, .hero__more, .card__text, .service__desc, .projects__list h5, .form__input, .form__name, .form__send {
    font-size: 12px; }

  .service__title, .contacts__info {
    font-size: 30px; }

  .circle__text span, .slide__title, .feedback__contacts::after {
    font-size: 30px; }

  .cursor {
    display: none; } }
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:focus,
:active {
  /*outline: none;*/ }

a:focus,
a:active {
  /* outline: none;*/ }

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit; }

ul,
ul li {
  list-style: none; }

img {
  vertical-align: top; }

img,
svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus,
input:active,
button:focus,
button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

.menu {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#menu {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  bottom: 5%;
  z-index: 10; }

.menu__links {
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  background: linear-gradient(90deg, #171717 0%, transparent 100%); }

.menu__links a {
  font-family: "BwDarius", sans-serif;
  color: #fff;
  font-size: 50px; }

.header {
  min-height: 100vh;
  padding-bottom: 10vh; }

.header__nav {
  padding: 50px 0 0 10px; }

.header__links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 75px; }

.hero__greeting {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center; }

#wrapper {
  aspect-ratio: 2.4;
  width: 90vmin;
  position: relative; }

.shape {
  height: 30%;
  width: 30%;
  background-color: #282828;
  position: absolute;
  transition: left, top, transform, opacity, background-color, height, width, border-radius;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
  background-color: #3935fe; }

.shape:nth-child(1) {
  opacity: 0.5; }

.shape:nth-child(2) {
  opacity: 0.3; }

.shape:nth-child(3) {
  opacity: 0.6; }

.shape:nth-child(4) {
  opacity: 0.8; }

.shape:nth-child(5) {
  opacity: 0.2; }

.shape:nth-child(6) {
  opacity: 0.4; }

.shape:nth-child(7) {
  opacity: 0.8; }

.shape:nth-child(8) {
  opacity: 0.3; }

.shape:nth-child(9) {
  opacity: 0.1; }

#wrapper[data-roundness="1"] > .shape {
  border-radius: 3rem; }

#wrapper[data-roundness="2"] > .shape {
  border-radius: 0rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(1) {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(2) {
  border-bottom-left-radius: 5rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(3) {
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(4) {
  border-bottom-left-radius: 5rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(5) {
  border-bottom-right-radius: 5rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(6) {
  border-bottom-right-radius: 5rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(7) {
  border-radius: 0rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(8) {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem; }

#wrapper[data-roundness="3"] > .shape:nth-child(9) {
  border-top-right-radius: 5rem; }

#wrapper[data-roundness="4"] > .shape {
  border-radius: 50%; }

/* configuration 1*/
#wrapper[data-configuration="1"] > .shape:nth-child(1) {
  left: 10%;
  top: 50%;
  height: 50%;
  width: 20%; }

#wrapper[data-configuration="1"] > .shape:nth-child(2) {
  left: 0%;
  top: 20%;
  height: 30%;
  width: 20%; }

#wrapper[data-configuration="1"] > .shape:nth-child(3) {
  left: 50%;
  top: 0%;
  height: 100%;
  width: 20%; }

#wrapper[data-configuration="1"] > .shape:nth-child(4) {
  left: 65%;
  top: 0%;
  height: 50%;
  width: 10%; }

#wrapper[data-configuration="1"] > .shape:nth-child(5) {
  left: 70%;
  top: 20%;
  height: 80%;
  width: 30%; }

#wrapper[data-configuration="1"] > .shape:nth-child(6) {
  left: 25%;
  top: 45%;
  height: 45%;
  width: 30%; }

#wrapper[data-configuration="1"] > .shape:nth-child(7) {
  left: 20%;
  top: 0%;
  height: 60%;
  width: 20%; }

#wrapper[data-configuration="1"] > .shape:nth-child(8) {
  left: 80%;
  top: 50%;
  height: 50%;
  width: 20%; }

#wrapper[data-configuration="1"] > .shape:nth-child(9) {
  left: 65%;
  top: 40%;
  height: 20%;
  width: 20%; }

/* configuration 2*/
#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  left: 0%;
  top: 0%;
  height: 100%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(2) {
  left: calc(100% / 8);
  top: 0%;
  height: 60%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(3) {
  left: calc(100% / 8 * 2);
  top: 0%;
  height: 100%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(4) {
  left: calc(100% / 8 * 3);
  top: 0%;
  height: 60%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(5) {
  left: calc(100% / 8 * 4);
  top: 60%;
  height: 40%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(6) {
  left: calc(100% / 8 * 5);
  top: 0%;
  height: 60%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(7) {
  left: calc(100% / 8 * 6);
  top: 0%;
  height: 100%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(8) {
  left: calc(100% / 8 * 7);
  top: 0%;
  height: 60%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-configuration="2"] > .shape:nth-child(9) {
  left: calc(100% / 8 * 7);
  top: 61%;
  height: 39%;
  width: calc(100% / 8 - 2%); }

#wrapper[data-roundness="3"]#wrapper[data-configuration="2"] > .shape {
  background-color: white;
  opacity: 1; }

/* configuration 3 */
#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  left: 40%;
  top: 0%;
  height: 72%;
  width: 30%; }

#wrapper[data-configuration="3"] > .shape:nth-child(2) {
  left: 90%;
  top: 0%;
  height: 24%;
  width: 10%; }

#wrapper[data-configuration="3"] > .shape:nth-child(3) {
  left: 25%;
  top: 0%;
  height: 60%;
  width: 25%; }

#wrapper[data-configuration="3"] > .shape:nth-child(4) {
  left: 58%;
  top: 0%;
  height: 100%;
  width: 42%; }

#wrapper[data-configuration="3"] > .shape:nth-child(5) {
  left: 20%;
  top: 0%;
  height: 24%;
  width: 10%; }

#wrapper[data-configuration="3"] > .shape:nth-child(6) {
  left: 80%;
  top: 52%;
  height: 48%;
  width: 20%; }

#wrapper[data-configuration="3"] > .shape:nth-child(7) {
  left: 0%;
  top: 28%;
  height: 72%;
  width: 30%; }

#wrapper[data-configuration="3"] > .shape:nth-child(8) {
  left: 0%;
  top: 0%;
  height: 48%;
  width: 20%; }

#wrapper[data-configuration="3"] > .shape:nth-child(9) {
  left: 30%;
  top: 30%;
  height: 70%;
  width: 29.16%; }

.hero__more {
  position: absolute;
  padding: 14px 105px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #171717;
  box-shadow: -1px -1px 2px rgba(32, 32, 32, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25), -5px -5px 7px rgba(32, 32, 32, 0.25), 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 5;
  transition: background-color 0.2s cubic-bezier(0, 0.52, 0.43, 0.99), box-shadow 0.2s cubic-bezier(0, 0.52, 0.43, 0.99); }

.hero__more:hover {
  background: #222; }

.hero__more:active {
  box-shadow: 0 0 0 rgba(32, 32, 32, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(32, 32, 32, 0), 0 0 0 rgba(0, 0, 0, 0), inset -1px -1px 2px rgba(32, 32, 32, 0.5), inset -5px -5px 7px rgba(32, 32, 32, 0.5), inset 2px 2px 1px rgba(0, 0, 0, 0.25), inset 5px 5px 7px rgba(0, 0, 0, 0.25); }

.about {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px; }

.card {
  position: relative;
  width: 1000px;
  height: 500px;
  transform-style: preserve-3d; }

.card__text {
  position: absolute;
  max-width: 424px;
  top: 50px;
  left: 50px;
  z-index: 2;
  transform: translateZ(60px); }

.card__logo {
  position: absolute;
  z-index: 2;
  width: 80px;
  bottom: 50px;
  left: 50px;
  transform: translateZ(30px); }

.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  z-index: 1; }

.card__photo {
  position: absolute;
  z-index: 1;
  right: -100px;
  bottom: -10px; }

.card-l {
  position: absolute;
  inset: 0;
  background-color: #3935fe;
  border-radius: 16px; }
  .card-l:nth-child(4) {
    z-index: 0; }
  .card-l:nth-child(5) {
    opacity: 0.5;
    scale: 1.01;
    transform: translateZ(-40px);
    z-index: -1;
    filter: blur(1px); }
  .card-l:nth-child(6) {
    opacity: 0.25;
    transform: translateZ(-70px);
    scale: 1.02;
    z-index: -2;
    filter: blur(2px); }

.circle {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: -2; }
  .circle:nth-child(1) {
    left: 10%;
    top: 10%;
    animation: rotation 15s infinite forwards linear; }
  .circle:nth-child(2) {
    right: 10%;
    bottom: 10%;
    animation: rotation 30s infinite forwards linear; }

.circle__text span {
  position: absolute;
  left: 50%;
  color: #222;
  transform-origin: 0 250px; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
@media (max-width: 600px) {
  .card {
    width: 350px; }

  .circle {
    width: 300px;
    height: 300px; }
    .circle:nth-child(1) {
      left: -10%; }
    .circle:nth-child(2) {
      right: -10%; }

  .circle__text span {
    transform-origin: 0 150px; } }
.services {
  position: relative;
  padding: 30px;
  height: 100vh;
  margin-bottom: 200px;
  position: relative; }

.services::after {
  position: absolute;
  content: "";
  width: 50vw;
  aspect-ratio: 1 /1;
  bottom: -30vh;
  left: -15vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(57, 53, 254, 0.5) 0%, rgba(57, 53, 254, 0.05) 81.77%, rgba(57, 53, 254, 0) 100%);
  z-index: -3; }

.services::before {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1 /1;
  top: 0;
  right: 0;
  border: 2px solid #222;
  border-radius: 50%;
  transform: translate(50%, -50%);
  z-index: -3; }

.services__wrapper {
  width: 100%;
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  gap: 30px;
  height: 70vh;
  align-items: end; }

.services__item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: padding 0.5s ease; }

.service__icon {
  width: 60%;
  align-self: center;
  transform: translateY(50%); }

.service__info {
  position: relative;
  height: 30vh;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  z-index: -1;
  background: radial-gradient(50% 73.46% at 50% 0%, rgba(57, 53, 254, 0.7) 0%, rgba(57, 53, 254, 0) 100%), rgba(34, 34, 34, 0.8);
  box-shadow: 3px 3px 10px rgba(9, 9, 9, 0.25);
  transition: background 0.5s ease, transform 0.5s ease; }

.service__title {
  transition: opacity 0.1s ease-in-out; }

.services__item:nth-child(n + 2) .service__title {
  transform: translateY(-50%); }

.service__desc {
  position: absolute;
  width: 70%;
  bottom: 50px;
  opacity: 0;
  transition: opacity 0.5s ease; }

.service__tools {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  bottom: 6vh;
  z-index: -2;
  opacity: 0;
  transition: 0.5s;
  transition-property: bottom, opacity;
  transition-timing-function: ease;
  transition-delay: 0.1s; }

.services__item:hover {
  padding-bottom: 10vh; }
  .services__item:hover .service__info {
    background: radial-gradient(50% 73.46% at 50% 0%, rgba(57, 53, 254, 0.7) 0%, rgba(57, 53, 254, 0) 100%), rgba(57, 53, 254, 0.1); }
  .services__item:hover .service__title {
    opacity: 0; }
  .services__item:hover .service__desc {
    opacity: 1; }
  .services__item:hover .service__tools {
    bottom: 4vh;
    opacity: 1; }

.services__background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -5;
  display: flex;
  align-items: end; }

.services__background svg {
  object-fit: cover;
  overflow: visible; }

@media (max-width: 600px) {
  .services {
    padding: 50px; }

  .services__row {
    grid-template: repeat(3, 1fr)/1fr;
    grid-gap: 10px;
    grid-template-areas: "title" "desc" "tools";
    padding: 20px 0; }

  .row__tools {
    grid-template: 1fr/repeat(8, 1fr);
    justify-self: center;
    grid-auto-flow: row;
    grid-gap: 15px; }

  .row__tool:nth-child(1) {
    grid-column-start: 3; }

  .row__tool img {
    max-width: 24px;
    justify-self: center; }

  .row__desc {
    text-align: center; }

  .services__background {
    width: 300%;
    align-items: start; } }
.projects {
  display: flex;
  padding-left: 3vw; }

.projects::before {
  content: "";
  position: absolute;
  width: 282px;
  height: 282px;
  left: 10%;
  top: 10vh;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #3935fe 0%, rgba(57, 53, 254, 0.1) 81.77%, rgba(57, 53, 254, 0) 100%);
  opacity: 0.4; }

.projects__list {
  margin-top: 20vh;
  padding-left: 2vw; }

.projects__list h5 {
  text-transform: uppercase; }

.projects__list h5:nth-child(n + 2) {
  opacity: 0.3; }

.projects__list h5 + h5 {
  margin-top: 20px; }

.slider__wrapper {
  width: clamp(300px, 100%, 1400px);
  padding-right: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; }

.slider__wrapper::before {
  content: "";
  position: absolute;
  width: 447px;
  height: 447px;
  right: 10%;
  top: 40%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, #3935fe 0%, rgba(57, 53, 254, 0.1) 81.77%, rgba(57, 53, 254, 0) 100%);
  opacity: 0.6; }

.slide__title {
  margin-top: 50vh;
  margin-bottom: 5vh;
  font-size: 10rem;
  text-transform: uppercase; }

.slide__img {
  position: absolute;
  background-size: cover;
  transition-property: height, width, top, left, transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease; }

.slide__img[data-status="curr-slide"] {
  height: 60vh;
  width: 75%;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: -5;
  opacity: 1; }

.slide__img[data-status="next-slide"] {
  height: 20vh;
  width: 25%;
  top: 18vh;
  left: 75%;
  z-index: -6;
  opacity: 0.3; }

.slide__img[data-status="prev-slide"] {
  height: 60vh;
  width: 75%;
  top: 70%;
  left: -5%;
  transform: translateY(-50%);
  z-index: -4;
  opacity: 0; }

.slide__img[data-status="hidden-slide"] {
  height: 20vh;
  width: 25%;
  top: 18vh;
  left: 75%;
  z-index: -6;
  opacity: 0; }

.slide__desc {
  margin-bottom: 12vh;
  align-self: end;
  width: 25vw; }

.slider__nav {
  display: flex;
  padding: 0 20% 0 5%;
  align-items: center;
  justify-content: space-between; }

.slide__info {
  display: flex;
  gap: 20px; }

.slider__btns {
  display: flex;
  gap: 20px; }

.slider__btns button {
  height: 37px;
  width: 55px; }

.slider__btns button img {
  object-fit: cover; }

.feedback {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 100px 0; }

.feedback__wrapper {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: 40px; }

.feedback__form {
  width: 80%;
  display: flex;
  flex-direction: column; }

.form__input {
  padding: 10px 2px;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px; }

.form__input:nth-child(4) {
  border-bottom: 1px solid #fff;
  margin-bottom: 60px; }

.feedback__contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end; }

.feedback__contacts::after {
  position: absolute;
  content: "contact me";
  right: -40%;
  top: 50%;
  transform: rotate(-90deg) translateX(10%);
  color: #222;
  z-index: -1; }

.contacts__info {
  margin-bottom: 40px; }

.form__send {
  padding: 14px 0;
  background-color: #171717;
  box-shadow: -1px -1px 2px rgba(32, 32, 32, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25), -5px -5px 7px rgba(32, 32, 32, 0.25), 5px 5px 7px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 5;
  transition: background-color 0.2s cubic-bezier(0, 0.52, 0.43, 0.99), box-shadow 0.2s cubic-bezier(0, 0.52, 0.43, 0.99); }

.form__send:hover {
  background: #222; }

@media (max-width: 600px) {
  .feedback__wrapper {
    grid-template: 1fr 1fr/ 1fr;
    grid-gap: 100px; }

  .feedback__form {
    margin: 0 auto; }

  .feedback__contacts {
    padding-top: 50px;
    align-items: center; }

  .feedback__contacts::after {
    top: 0;
    left: 50%;
    transform: rotate(0deg) translateX(-50%);
    width: 100%;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
