.feedback {
  padding-top: 50vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.feedback__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5vw;
}

.feedback__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__group {
  width: 100%;
  position: relative;
  margin-bottom: 5vh;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.form__input {
  margin: 0 auto;
  width: 100%;
  padding: 0 0 1vh 0;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
  transition: border 0.3s ease;
}

.form__input:focus {
  border-bottom: 1px solid $accent-color;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -2vh;
  font-size: 0.7em;
  color: $secondary-color;
}

.form__btn {
  @extend %regular-text;
  display: inline-block;
  padding: 2vh 0;
  border: 1px solid $text-color;
  border-radius: 8rem;
  transition: background-color 0.3s ease, border 0.3s ease;
  text-align: center;
  &:hover {
    background-color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.feedback__contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}
.contacts__title {
  @extend %regular-text;
  margin-bottom: 1vh;
}
.contacts__link {
  @extend %subtitle-text;
  text-transform: none;
  margin-bottom: 10vh;
}

@media (max-width: 600px) {
  .feedback__wrapper {
    grid-template: 1fr 1fr/ 1fr;
    grid-gap: 100px;
  }
  .feedback__form {
    margin: 0 auto;
  }
  .feedback__contacts {
    padding-top: 50px;
    align-items: center;
  }
  .feedback__contacts::after {
    top: 0;
    left: 50%;
    transform: rotate(0deg) translateX(-50%);
    width: 100%;
    text-align: center;
  }
}
