.projects {
  display: flex;
  position: relative;
}

.projects::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom: 2px solid $secondary-color;
  z-index: -4;
}

.projects__list {
  margin-top: 25vh;
  padding-left: 2vw;
  width: 10vw;
}
.projects__list h5{
  @extend %regular-text;
  text-transform: uppercase;
}
.projects__list h5 + h5{
  margin-top: 20px;
}
.projects > .container{
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.slide__title {
  @extend %title-text;
  font-size: 150px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.slide__img {
  position: absolute;
  height: 50vh;
  width: 50vw;
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
  z-index: -1;
}
.slide__img img{
  object-fit: cover;
}
.slide__desc {

  width: 20vw;

}
.sldier__button {
}