.projects {
  display: flex;
  padding-left: 3vw;
  position: relative;
  // overflow: hidden;
}

.projects::before {
  content: "";
  position: absolute;
  height: 100vh;
  aspect-ratio: 1 /1;
  left: 0;
  top: -30vh;
  z-index: -1;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(33, 158, 188, 0.5) 0%,
    rgba(33, 158, 188, 0) 100%
  );
  opacity: 0.4;
}

.projects__list {
  margin-top: 20vh;
  padding-left: 2vw;
}
.projects__list h5 {
  @extend %regular-text;
  text-transform: uppercase;
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.05, 0.64, 0.41, 0.93);
}

.projects__list [data-status="curr-slide"] {
  transition-delay: 0.5s;
  opacity: 1;
}
.projects__list h5 + h5 {
  margin-top: 20px;
}

.slider__wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slider__img-wrapper {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.slide__img {
  position: absolute;
  background-size: cover;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  transition-property: height, width, bottom, right, transform, opacity;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.05, 0.64, 0.41, 0.93);
}

.slide__img::after {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #8ecae6 0%, #219ebc 100%);
  transition-property: height, width, bottom, right, transform, opacity;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.05, 0.64, 0.41, 0.93);
}
.slide__img[data-status="curr-slide"] {
  height: 80vh;
  z-index: -3;
  right: 10vw;
  bottom: 5vh;
  &::after {
    opacity: 0;
  }
}
.slide__img[data-status="next-slide"] {
  height: 100vh;
  right: -10vw;
  bottom: -25vh;
  z-index: -5;
  &::after {
    z-index: -4;
  }
}

.slide__img[data-status="prev-slide"] {
  height: 60vh;
  bottom: -25vh;
  right: 60vh;
  z-index: -2;
  &::after {
    z-index: -1;
  }
}
.slide__img[data-status="hidden-slide"] {
  height: 60vh;
  bottom: -25vh;
  right: 60vh;
  z-index: -10;
  opacity: 0;
}

.slider__info-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.slide__info {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5vh;
  transition-property: opacity, display;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.05, 0.64, 0.41, 0.93);
}

.slide__info[data-status="curr-slide"] {
  transition-delay: 0.5s;
}
.slide__info[data-status="next-slide"],
.slide__info[data-status="prev-slide"],
.slide__info[data-status="hidden-slide"] {
  // display: none;
  opacity: 0;
  z-index: -1;
}

.slide__title {
  @extend %title-text;
  font-size: 10rem;
  text-transform: uppercase;
}

.slide__desc {
  width: 25vw;
}

.slide__links {
  display: flex;
  gap: 20px;
}

.slider__btns {
  position: absolute;

  bottom: 10%;
  display: flex;
  gap: 20px;
}

.slider__btns button {
  height: 37px;
  width: 55px;
}

.slider__btns button img {
  object-fit: cover;
}
