.services {
  position: relative;

  height: 100vh;
  margin-bottom: 200px;
  position: relative;
  // overflow: hidden;
}

.services::after {
  position: absolute;
  content: "";
  width: 50vw;
  aspect-ratio: 1 /1;
  bottom: -30vh;
  left: -15vw;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(33, 158, 188, 0.5) 0%,
    rgba(33, 158, 188, 0) 100%
  );
  opacity: 0.4;
  z-index: -3;
}
.services::before {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1 /1;
  top: 0;
  right: 0;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  transform: translate(50%, -50%);
  opacity: 0.7;
  z-index: -3;
}

.services__wrapper {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: 30px;
  height: 100vh;
}

.services__items {
  padding: 15vh 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10vh;
}
.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  transition: padding 0.3s ease;
}

.service__title {
  @extend %title-text;
  transition: color 0.3s ease;
}
.service__desc {
  position: absolute;
  width: 70%;
  @extend %regular-text;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}
.service__tools {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 20px;
  z-index: -2;
  opacity: 0;
  bottom: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.services__item:hover {
  padding-bottom: 15vh;
  .service__title {
    color: $accent-color;
  }
  .service__desc {
    bottom: 30%;
    opacity: 1;
  }

  .service__tools {
    bottom: 0;
    opacity: 1;
  }
}

//cube
.wrap {
  align-self: center;
  justify-self: center;
  perspective: 1000px;
  perspective-origin: center -8vw;
}
.side,
.cube {
  width: 16vw;
  aspect-ratio: 1 /1;
}
.cube {
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}
.cube:before,
.cube:after {
  content: "";
  display: block;
  position: absolute;
  width: 18vw;
  aspect-ratio: 1 / 1;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}
.cube:before {
  left: 50%;
  transform: rotateX(90deg) translateX(-50%);
}
.cube:after {
  top: 50%;
  transform: rotatey(90deg) translateY(-50%);
}

.side {
  position: absolute;
  width: 16vw;
  aspect-ratio: 1 / 1;
  border: 1px dashed $accent-color;
  transition-property: border, border-radius, background-color, width, height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.cube[data-side="frontEnd"] {
  &::before,
  &::after {
    border: 2px solid $accent-color;
  }

  .side {
    border: 1px solid $secondary-color;
  }
}

.cube[data-side="design"] .side {
  &:nth-child(1),
  &:nth-child(2) {
    background-color: #58b4d1;
  }
  &:nth-child(3),
  &:nth-child(4) {
    background-color: #8ecae6;
  }
  &:nth-child(5),
  &:nth-child(6) {
    background-color: #219ebc;
  }
  border: 1px dashed transparent;
  opacity: 0.9;
}

.cube[data-side="animation"] {
  .side {
    border: 4px $accent-color;
    border-radius: 50%;
    border-style: solid;
  }
}

.back {
  transform: translateZ(-8vw);
}

.left {
  transform: translateX(-8vw) rotateY(90deg);
}

.right {
  transform: translateX(8vw) rotateY(90deg);
}
.top {
  transform: translateY(-8vw) rotateX(90deg);
}

.bottom {
  transform: translateY(8vw) rotateX(90deg);
}

.front {
  transform: translateZ(8vw);
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
    // transform: rotatex(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

//cube

//PATH TEXT
.services__background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -5;
  display: flex;
  align-items: end;
  opacity: 0.1;
}

.services__background svg {
  object-fit: cover;
  overflow: visible;
}

@media (max-width: 600px) {
}
