.services {
  position: relative;
  padding: 30px;
  height: 100vh;
  margin-bottom: 200px;
  position: relative;
  // overflow: hidden;
}

.services::after {
  position: absolute;
  content: "";
  width: 50vw;
  aspect-ratio: 1 /1;
  bottom: -30vh;
  left: -15vw;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(57, 53, 254, 0.5) 0%,
    rgba(57, 53, 254, 0.05) 81.77%,
    rgba(57, 53, 254, 0) 100%
  );

  z-index: -3;
}
.services::before {
  position: absolute;
  content: "";
  height: 100%;
  aspect-ratio: 1 /1;
  top: 0;
  right: 0;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  transform: translate(50%, -50%);
  z-index: -3;
}

.services__wrapper {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 30px;
  height: 70vh;
  align-items: end;
}
.services__item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: padding 0.5s ease;
}
.service__icon {
  width: 60%;
  align-self: center;
  transform: translateY(50%);
}
.service__info {
  position: relative;

  height: 30vh;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  z-index: -1;
  background: radial-gradient(
      50% 73.46% at 50% 0%,
      rgba(57, 53, 254, 0.7) 0%,
      rgba(57, 53, 254, 0) 100%
    ),
    rgba(34, 34, 34, 0.8);
  box-shadow: 3px 3px 10px rgba(9, 9, 9, 0.25);
  transition: background 0.5s ease, transform 0.5s ease;
}

.service__title {
  @extend %subtitle-text;
  transition: opacity 0.1s ease-in-out;
}
.services__item:nth-child(n + 2) .service__title {
  transform: translateY(-50%);
}
.service__desc {
  position: absolute;
  width: 70%;
  bottom: 50px;
  @extend %regular-text;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.service__tools {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  bottom: 6vh;
  z-index: -2;
  opacity: 0;
  transition: 0.5s;
  transition-property: bottom, opacity;
  transition-timing-function: ease;
  transition-delay: 0.1s;
}

.services__item:hover {
  padding-bottom: 10vh;
  .service__info {
    background: radial-gradient(
        50% 73.46% at 50% 0%,
        rgba(57, 53, 254, 0.7) 0%,
        rgba(57, 53, 254, 0) 100%
      ),
      rgba(57, 53, 254, 0.1);
  }
  .service__title {
    opacity: 0;
  }
  .service__desc {
    opacity: 1;
  }
  .service__tools {
    bottom: 4vh;

    opacity: 1;
  }
}

.services__background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -5;
  display: flex;
  align-items: end;
}

.services__background svg {
  object-fit: cover;
  overflow: visible;
}

@media (max-width: 600px) {
  .services {
    padding: 50px;
  }
  .services__row {
    grid-template: repeat(3, 1fr) / 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "title"
      "desc"
      "tools";
    padding: 20px 0;
  }
  .row__tools {
    grid-template: 1fr / repeat(8, 1fr);
    justify-self: center;
    grid-auto-flow: row;
    grid-gap: 15px;
  }
  .row__tool:nth-child(1) {
    grid-column-start: 3;
  }
  .row__tool img {
    max-width: 24px;
    justify-self: center;
  }
  .row__desc {
    text-align: center;
  }
  .services__background {
    width: 300%;
    align-items: start;
  }
}
